* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: url("img/fundo.jpg");
    background-position: center;
    background-size: cover;
}

.caixa-conteudo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.caixa-textos {
    width: 600px;

}

h2 {
    color: white;
    font-weight: 600;
    font-size: 60px;

}

.texto-starbucks {
    color: #017143;
    font-weight: 900;
    font-size: 60px;
}

.paragrafo {
    font-size: 16px;
    color: #fff;

}

button {
    background-color: #017143;
    color: #fff;
    margin-top: 30px;
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    transition: 0.5s;
}

button:hover {
    background-color: #06c387;
    padding: 20px;

}

.logo {
    width: 80px;
}

.caixa-imagem {
    width: 600px;
    display: flex;
    justify-content: flex-end;
}